<?xml version="1.0" encoding="UTF-8"?>
<!--
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
-->
<module configVersion="1.0">
	
	<!-- ProgramLocation Module Properties -->
	<id>programlocation</id>
	<name>ProgramLocation Module</name>
	<version>0.0.3</version>
	<package>org.openmrs.module.programlocation</package>
	<author>Jembi Health Systems, Partners In Health</author>
	<description>
		Associate locations with patient program enrollments, automatically complete programs with terminal states, fix Exit from Care 		
	</description>
	<activator>org.openmrs.module.programlocation.ProgramLocationModuleActivator</activator>
	
	<mappingFiles>
		PatientProgram.hbm.xml
	</mappingFiles>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
    <advice>
	    <point>org.openmrs.api.ProgramWorkflowService</point>
	    <class>org.openmrs.module.programlocation.advisor.ProgramWorkflowServiceAroundAdvisor</class>
    </advice>
	
    <dwr>
    	<allow>
	    	<create creator="new" javascript="DWRProgramLocationService">
	        	<param name="class" value="org.openmrs.module.programlocation.dwr.DWRProgramLocationService"/>
 	            	<include method="updatePatientProgram"/>
			</create>
 	                </allow>
 	
 	                <signatures>
 	                        <![CDATA[
 	                        import org.openmrs.module.programlocation.dwr.DWRProgramLocationService;
 	                        DWRProgramLocationService.updatePatientProgram(Integer patientProgramId,String enrollmentDateYmd,String completionDateYmd,Integer locationId)
 	                        ]]>
 	                </signatures>   
 	        </dwr>
		
</module>
